.content {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-rows: 1fr;
    padding: 30px 30px;
    gap: 10px;
}

.list,
.editor,
.additional-block {
    padding: 10px;
    border: 1px solid #dedede;
    border-radius: 6px;
}

.logo-path {
    color: rgb(176, 176, 176);
}

.block-title{
    border-bottom: 1px solid #dedede;
}

.list__content-item{
    color: black;
}

.block-buttons{
    border-bottom: 1px solid #dedede;
    margin-bottom: 10px;
    margin-top: 4px;
}

.arrow_back, .add, .minimize, .zoom, .save{
    color: #000000;
    background-color: white;
}

.editor__buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.delete{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    color:rgb(179, 29, 29)
}

.list__content-error{
    font-style: italic;
    font-size: 15px;
    color: #707070;
}