
.editor__text{
    overflow: hidden;
    resize: none;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border: 1px solid #dedede;
    border-radius: 6px;
}

.editor__text-area{
    overflow: hidden;
    resize: none;
    border-left: 1px dashed #dedede;
    border-right: 1px dashed #dedede;
    margin: 10px;
}

.myCanvas {
    border: 1px solid #dedede;
    border-radius: 6px;
}

.editor__content{
    overflow: auto;
    color: rgb(165, 184, 209);
}

.drawing-cursor {
    cursor: crosshair;
    /* Устанавливаем изображение карандаша как курсор */
}
