.content {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-rows: 1fr;
    padding: 30px 30px;
    gap: 10px;
}

.files-list,
.new-package-panel,
.chat {
    padding: 10px;
    border: 1px solid #dedede;
    border-radius: 6px;
}

.files-list__message-error {
    font-style: italic;
    font-size: 15px;
}

.files-list__title,
.new-files-panel__title {
    border-bottom: 1px solid #dedede;
    margin-bottom: 10px;
}

.new-files-panel__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.new-files-panel__form-item {
    border-bottom: 1px solid #dedede;
}

.new-files-panel__form-item input {
    font-size: 20px;
}