{% extends "base-main.html" %}
{% load static %}

{% block basemainheadblock %}
<link type="text/css" href="{% static 'pigeon_package_main_app/css/file-editor.css' %}" rel="stylesheet">
{% endblock basemainheadblock %}

{% block additional_logo_text %}
<div class="logo-path">
    /<a class="logo-path" href="{% url 'package-editor-page' package.id %}">{{package.name}}/<a class="logo-path"
            href="{% url 'file-editor-page' file.id %}">{{file.name}}
        </a>
</div>
{% endblock additional_logo_text %}

{% block list__title %}
Files
{% endblock list__title %}

{% block list__content %}
{% for file in files %}
<li>
    <a href="{% url 'file-editor-page' file.id %}" class="list__content-item">
        {{ file.name }}
    </a>
</li>
{% endfor %}

{% endblock list__content %}

{% block list__buttons %}
<button id="return_button">
    <span class="material-symbols-outlined arrow_back">
        keyboard_return
    </span>
</button>
<button id="add_button">
    <span class="material-symbols-outlined add">
        add
    </span>
</button>
<button id="remove_button">
    <span class="material-symbols-outlined minimize">
        remove
    </span>
</button>

<script>
    document.getElementById("remove_button").onclick = function () {
        window.location.href = "{% url 'remove-file' package.id %}";
    };
    document.getElementById("add_button").onclick = function () {
        window.location.href = "{% url 'new-file' package.id %}";
    };
    document.getElementById("return_button").onclick = function () {
        window.location.href = '{% url "package-editor-page" package.id %}';
    };
</script>
{% endblock list__buttons %}

{% block editor__title %}
{{file.name}}
{% endblock editor__title %}

{% block editor__buttons_left %}
<button type="submit" onclick="submitForm()">
    <span class=" material-symbols-outlined save">
        save
    </span>
</button>
<button onclick="increase_the_size()">
    <span class="material-symbols-outlined zoom">
        zoom_in
    </span>
</button>
<button onclick="reduce_the_size()">
    <span class="material-symbols-outlined zoom">
        zoom_out
    </span>
</button>
Chars: <span id="characterCount">0</span>
{% endblock editor__buttons_left %}

{% block editor__buttons_right %}

<a href="#"><span class="material-symbols-outlined delete">
        delete_forever
    </span></a>
{% endblock editor__buttons_right %}

{% block editor__content %}

<form id="myForm" class="editor__text" action="{% url 'file-editor-page' file.id %}" method="POST">
    {% csrf_token %}
    {{ form.font_size }}
    {{ form.content }}
</form>

<script>
    function reduce_the_size() {
        const textarea = document.getElementById("myTextarea");
        const currentFontSize = window.getComputedStyle(textarea).fontSize; // Получение текущего размера шрифта
        const currentSize = parseFloat(currentFontSize); // Преобразование размера шрифта в число
        const newSize = currentSize - 2; // Увеличение размера шрифта на 2 пункта (можете выбрать любое увеличение)
        textarea.style.fontSize = newSize + "px";
        if (newSize < 0) {
            document.getElementById('font_size').value = 0;
        }
        else {
            document.getElementById('font_size').value = newSize;
        }
        textarea.style.overflow = 'hidden';
    }
    function increase_the_size() {
        const textarea = document.getElementById("myTextarea");
        const currentFontSize = window.getComputedStyle(textarea).fontSize; // Получение текущего размера шрифта
        const currentSize = parseFloat(currentFontSize); // Преобразование размера шрифта в число
        const newSize = currentSize + 2; // Увеличение размера шрифта на 2 пункта (можете выбрать любое увеличение)
        textarea.style.fontSize = newSize + "px";
        if (newSize < 0) {
            document.getElementById('font_size').value = 0;
        }
        else {
            document.getElementById('font_size').value = newSize;
        }
        textarea.style.overflow = 'hidden';
    }
    function countCharacters() {
        const textarea = document.getElementById("myTextarea");
        const characterCount = document.getElementById("characterCount");
        const count = textarea.value.length;
        characterCount.textContent = count;
    }

    function submitForm() {
        // Получаем форму по её id
        var form = document.getElementById("myForm");
        form.submit();
    }

    document.addEventListener('DOMContentLoaded', function () {
        var textarea = document.getElementById('myTextarea');

        textarea.addEventListener('input', function (event) {
            countCharacters();
            autoResize(event);
        });
    });

    function autoResize(event) {

        const textarea = event.target;
        const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
        const scrollLeft = window.pageXOffset || document.documentElement.scrollLeft;

        textarea.style.height = "auto";
        textarea.style.height = textarea.scrollHeight + "px";

        window.scrollTo(scrollLeft, scrollTop);
        event.preventDefault();
    }
    window.onload = function () {
        countCharacters();
        const textarea = document.getElementById('myTextarea');
        var fontSize = document.getElementById('font_size').value;  // Получаем размер шрифта из скрытого поля
        document.getElementById('myTextarea').style.fontSize = fontSize + 'px';
        autoResize({ target: textarea });
    };

    const textarea = document.getElementById('myTextarea');
    textarea.addEventListener('keydown', function (e) {
        if (e.key === 'Tab') {
            e.preventDefault();

            const start = this.selectionStart;
            const end = this.selectionEnd;

            const value = this.value;
            this.value = value.substring(0, start) + '\t' + value.substring(end);

            this.selectionStart = this.selectionEnd = start + 1;
        }
    });
</script>
{% endblock editor__content %}

{% block additional-block__title %}
Чат
{% endblock additional-block__title %}

{% block additional-block__content %}
<div style="font-style: italic;" class="error-message">В разработке</div>
{% endblock additional-block__content %}