{% extends "base-main.html" %}
{% load static %}

{% block basemainheadblock %}
<link type="text/css" href="{% static 'pigeon_package_main_app/css/file-editor.css' %}" rel="stylesheet">
{% endblock basemainheadblock %}

{% block additional_logo_text %}
<div class="logo-path">
    /<a class="logo-path" href="{% url 'package-editor-page' package.id %}">{{package.name}}/<a class="logo-path"
            href="{% url 'file-editor-page' file.id %}">{{file.name}}
        </a>
</div>
{% endblock additional_logo_text %}

{% block list__title %}
Files
{% endblock list__title %}

{% block list__content %}
{% for f in files %}
<li>
    {% if f == file %}
    <a href="{% url 'file-editor-page' f.id %}" class="list__content-item list__content-item_active">
        {{ f.name }}
    </a>
    {% else %}
    <a href="{% url 'file-editor-page' f.id %}" class="list__content-item">
        {{ f.name }}
    </a>
    {% endif %}
</li>
{% endfor %}
<div class="block-title">
    Слои
</div>
{% for l in layers %}
<div class="list__content-item">{{ l.name }}</div>
{% endfor %}
{% endblock list__content %}

{% block list__buttons %}
<button id="return_button">
    <span class="material-symbols-outlined arrow_back">
        keyboard_return
    </span>
</button>
<button id="add_button">
    <span class="material-symbols-outlined add">
        add
    </span>
</button>
<button id="remove_button">
    <span class="material-symbols-outlined minimize">
        remove
    </span>
</button>

<script>
    document.getElementById("remove_button").onclick = function () {
        window.location.href = "{% url 'remove-file' package.id %}";
    };
    document.getElementById("add_button").onclick = function () {
        window.location.href = "{% url 'new-file' package.id %}";
    };
    document.getElementById("return_button").onclick = function () {
        window.location.href = '{% url "package-editor-page" package.id %}';
    };
</script>
{% endblock list__buttons %}

{% block editor__title %}
{{file.name}}
{% endblock editor__title %}

{% block editor__buttons_left %}
<button type="submit" onclick="submitForm()">
    <span class=" material-symbols-outlined save">
        save
    </span>
</button>
<button onclick="increase_the_size()">
    <span class="material-symbols-outlined button">
        zoom_in
    </span>
</button>
<button onclick="reduce_the_size()">
    <span class="material-symbols-outlined zoom">
        zoom_out
    </span>
</button>
<button id="drawButton">
    <span class="material-symbols-outlined zoom">
        ink_pen
    </span>
</button>
<button id="saveButton">
    <span class="material-symbols-outlined zoom">
        save_as
    </span>
</button>
<button id="moveButton">
    <span class="material-symbols-outlined zoom">
        open_with
    </span>
</button>
<button id="undoButton">
    <span class="material-symbols-outlined zoom">
        reply
    </span>
</button>
<label for="xInput">X:</label>
<input type="number" id="xInput" value="0">

<label for="yInput">Y:</label>
<input type="number" id="yInput" value="0">
<button onclick="updateCanvas()">Update Canvas</button>
{% endblock editor__buttons_left %}

{% block editor__buttons_right %}

<a href="#"><span class="material-symbols-outlined delete">
        delete_forever
    </span></a>

{% endblock editor__buttons_right %}

{% block editor__content %}

<canvas class="myCanvas" id="myCanvas" style="border: 3px solid black;" width="{{ file.width }}"
    height="{{ file.height }}"></canvas>
<canvas class="myCanvas" id="current_layer_canvas" style="border: 3px dashed red;" width="{{ file.width }}"
    height="{{ file.height }}"></canvas>

<script>
    var canvas = document.getElementById("myCanvas");
    var current_layer_canvas = document.getElementById('current_layer_canvas');
    var context = canvas.getContext("2d");
    var current_layer_context = current_layer_canvas.getContext("2d");
    var animationFrameId;

    const socket = new WebSocket(`ws://${window.location.host}/ws/file/{{ file.id }}/`);

    socket.onopen = (event) => {
        console.log('WebSocket connection opened:', event);
    };

    socket.onmessage = (event) => {
        try {
            console.log('Received data:', event.data);

            var data = JSON.parse(event.data);
            var x_position = data.x_position;
            var y_position = data.y_position;
            var picture_url = data.picture_url;

            var img = new Image();

            if (picture_url) {
                img.src = picture_url;
                img.onload = function () {
                    context.drawImage(img, x_position, y_position);
                };
            } else {
                console.error('URL изображения не определен.');
            }
        } catch (error) {
            console.error('Ошибка при парсинге JSON:', error);
        }
    }

    socket.onclose = function (event) {
        console.log('WebSocket connection closed:', event);
    };
    //Сохранение изображения

    document.getElementById('saveButton').addEventListener('click', function () {
        var imageData = current_layer_canvas.toDataURL('image/png');

        var xPosition = 0; // Ваш x_position
        var yPosition = 0; // Ваш y_position

        var data = {
            image: imageData,
            x_position: xPosition,
            y_position: yPosition
        };
        drawingStack = [];
        socket.send(JSON.stringify(data));
    });
    //Загрузка страницы
    document.addEventListener("DOMContentLoaded", function () {
        var height = parseInt("{{ file.height }}", 10) + 50;
        document.querySelector('.editor__content').style.height = height + "px";

        // Вызываем функцию с идентификатором холста и размером клетки
        drawGrid("myCanvas", 20);
        //Отрисовка изорбражения и текста
        {% for l in layers %}
        {% if l.picture %}
        (function () {
            var img = new Image();
            img.src = "{{ l.picture.url }}";
            img.onload = function () {
                context.drawImage(img, "{{ l.x_position }}", "{{ l.y_position }}");
            };
        })();
        {% else %}
        {% if l.content %}
        context.fillText("{{ l.content }}", {{ l.x_position }}, {{ l.y_position }});
    {% endif %}
    {% endif %}
    {% endfor %}
    });

    //Тетрадь


    function drawGrid(canvasId, cellSize) {
        var canvas = document.getElementById(canvasId);
        var context = canvas.getContext("2d");
        context.strokeStyle = "rgb(165, 184, 209)";

        // Ширина и высота холста
        var canvasWidth = canvas.width;
        var canvasHeight = canvas.height;

        // Отрисовка клетчатой тетради
        for (var x = 0; x < canvasWidth; x += cellSize) {
            context.moveTo(x, 0);
            context.lineTo(x, canvasHeight);
            context.stroke();
        }

        for (var y = 0; y < canvasHeight; y += cellSize) {
            context.moveTo(0, y);
            context.lineTo(canvasWidth, y);
            context.stroke();
        }
    }

    //Движение canvas
    var moveButtonActivate = false;
    var isMouseDown = false;
    var startX, startY, scrollLeft, scrollTop;
    var container = document.querySelector('.editor__content');
    var content = document.querySelector('.myCanvas');

    document.getElementById('moveButton').addEventListener('click', function () {
        moveButtonActivate = !moveButtonActivate;

        if (moveButtonActivate) {
            document.getElementById('moveButton').classList.add('active_button');
            container.style.cursor = "grab";
            container.addEventListener("mousedown", startMove);
            container.addEventListener("mousemove", move);
            container.addEventListener("mouseup", stopMove);
            container.addEventListener("mouseout", stopMove);
        } else {
            document.getElementById('moveButton').classList.remove('active_button');
            container.style.cursor = "auto";
            // Если заканчивается рисование, удаляем обработчики событий мыши и касания
            container.removeEventListener("mousedown", startMove);
            container.removeEventListener("mousemove", move);
            container.removeEventListener("mouseup", stopMove);
            container.addEventListener("mouseout", stopMove);
        }
    });

    function startMove(e) {
        container.style.cursor = "grabbing";
        isMouseDown = true;
        startX = e.clientX;
        startY = e.clientY;
        scrollLeft = container.scrollLeft;
        scrollTop = container.scrollTop;
    }

    function move(e) {
        if (isMouseDown) {
            // Вычисляем новые значения положения блока контента
            var newScrollLeft = scrollLeft - (e.clientX - startX);
            var newScrollTop = scrollTop - (e.clientY - startY);

            // Присваиваем новые значения
            container.scrollLeft = newScrollLeft;
            container.scrollTop = newScrollTop;
        }
    }

    function stopMove() {
        container.style.cursor = "grab";
        isMouseDown = false;
    }

    //Рисование 
    function undoLastDrawing() {
        if (drawingStack.length > 1) {
            drawingStack.pop(); // Удаляем последний рисунок
            var img = new Image();
            img.onload = function () {
                context.clearRect(0, 0, canvas.width, canvas.height);
                context.drawImage(img, 0, 0, canvas.width, canvas.height);
            };
            img.src = drawingStack[drawingStack.length - 1]; // Загружаем предыдущий рисунок
        }
    }

    // Пример использования функции отмены последнего действия
    document.getElementById('undoButton').addEventListener('click', function () {
        undoLastDrawing();
    });

    var isDrawing = false;
    var drawButtonActivate = false;
    var drawingStack = []; // массив для хранения рисунков

    document.getElementById('drawButton').addEventListener('click', function () {
        current_layer_context.lineWidth = 2;
        current_layer_context.strokeStyle = "rgb(89, 130, 184)";
        drawButtonActivate = !drawButtonActivate;
        if (drawButtonActivate) {
            saveDrawing();
            document.getElementById('drawButton').classList.add('active_button');
            current_layer_canvas.classList.add('drawing-cursor');
            current_layer_canvas.addEventListener("mousedown", startDrawing);
            current_layer_canvas.addEventListener("touchstart", startDrawingTouch, { passive: false });
            current_layer_canvas.addEventListener("mousemove", draw);
            current_layer_canvas.addEventListener("touchmove", drawTouch, { passive: false });
            current_layer_canvas.addEventListener("mouseup", stopDrawing);
            current_layer_canvas.addEventListener("touchend", stopDrawingTouch);
            current_layer_canvas.addEventListener("mouseout", stopDrawing);
        } else {
            document.getElementById('drawButton').classList.remove('active_button');
            current_layer_canvas.classList.remove('drawing-cursor');
            current_layer_canvas.removeEventListener("mousedown", startDrawing);
            current_layer_canvas.removeEventListener("touchstart", startDrawingTouch);
            current_layer_canvas.removeEventListener("mousemove", draw);
            current_layer_canvas.removeEventListener("touchmove", drawTouch);
            current_layer_canvas.removeEventListener("mouseup", stopDrawing);
            current_layer_canvas.removeEventListener("touchend", stopDrawingTouch);
            current_layer_canvas.removeEventListener("mouseout", stopDrawing);
        }
    });

    function startDrawing(e) {
        isDrawing = true;
        current_layer_context.beginPath();
        var rect = canvas.getBoundingClientRect();
        current_layer_context.moveTo(e.clientX - rect.left - 10, e.clientY - rect.top - 10);
    }

    function draw(e) {
        if (isDrawing) {
            console.log(e.pageX - canvas.offsetLeft + container.scrollLeft);
            console.log(e.pageY - canvas.offsetTop);
            var rect = canvas.getBoundingClientRect();
            current_layer_context.lineTo(e.clientX - rect.left - 10, e.clientY - rect.top - 10);
            current_layer_context.stroke();
            // Сохраняем текущий рисунок в стеке при каждом изменении
            saveDrawing();
        }
    }

    function stopDrawing() {
        isDrawing = false;
    }

    function startDrawingTouch(e) {
        e.preventDefault();
        isDrawing = true;
        var touch = e.touches[0];
        current_layer_context.beginPath();
        var rect = canvas.getBoundingClientRect();
        current_layer_context.moveTo(e.clientX - rect.left - 10, e.clientY - rect.top - 10);
    }

    function drawTouch(e) {
        e.preventDefault();
        if (isDrawing) {
            var touch = e.touches[0];
            var rect = canvas.getBoundingClientRect();
            current_layer_context.lineTo(e.clientX - rect.left - 10, e.clientY - rect.top - 10);
            current_layer_context.stroke();
            saveDrawing();
        }
    }

    function stopDrawingTouch() {
        isDrawing = false;
    }


    function saveDrawing() {
        drawingStack.push(current_layer_canvas.toDataURL());
    }
    //Обноваление размера

    function updateCanvas() {
        var newX = parseInt(document.getElementById("xInput").value);
        var newY = parseInt(document.getElementById("yInput").value);

        animateResize(newX, newY);
    }

    //Анимация resize

    function animateResize(newWidth, newHeight) {
        var startWidth = canvas.width;
        var startHeight = canvas.height;
        var startTime;

        function animate(currentTime) {
            if (!startTime) startTime = currentTime;
            var progress = (currentTime - startTime) / 2000; // Duration: 500ms

            if (progress < 1) {
                canvas.width = startWidth + (newWidth - startWidth) * progress;
                canvas.height = startHeight + (newHeight - startHeight) * progress;
                animationFrameId = requestAnimationFrame(animate);
            } else {
                canvas.width = newWidth;
                canvas.height = newHeight;
            }
        }

        if (animationFrameId) {
            cancelAnimationFrame(animationFrameId);
        }
        animationFrameId = requestAnimationFrame(animate);
    }
</script>
{% endblock editor__content %}

{% block additional-block__title %}
Чат
{% endblock additional-block__title %}

{% block additional-block__content %}
<div id="error-message" style="font-style: italic;" class="error-message">В разработке</div>
{% endblock additional-block__content %}