{% extends "base-main.html" %}
{% load static %}

{% block basemainheadblock %}
<link type="text/css" href="{% static 'pigeon_package_main_app/css/file-editor.css' %}" rel="stylesheet">
{% endblock basemainheadblock %}

{% block additional_logo_text %}
<div class="logo-path">
    /<a class="logo-path" href="{% url 'package-editor-page' package.id %}">{{package.name}}/<a class="logo-path"
            href="{% url 'file-editor-page' file.id %}">{{file.name}}
        </a>
</div>
{% endblock additional_logo_text %}

{% block list__title %}
Files
{% endblock list__title %}

{% block list__content %}
{% for f in files %}
<li>
    {% if f == file %}
    <a href="{% url 'file-editor-page' f.id %}" class="list__content-item list__content-item_active">
        {{ f.name }}
    </a>
    {% else %}
    <a href="{% url 'file-editor-page' f.id %}" class="list__content-item">
        {{ f.name }}
    </a>
    {% endif %}
</li>
{% endfor %}

{% endblock list__content %}

{% block list__buttons %}
<button id="return_button">
    <span class="material-symbols-outlined arrow_back">
        keyboard_return
    </span>
</button>
<button id="add_button">
    <span class="material-symbols-outlined add">
        add
    </span>
</button>
<button id="remove_button">
    <span class="material-symbols-outlined minimize">
        remove
    </span>
</button>

<script>
    document.getElementById("remove_button").onclick = function () {
        window.location.href = "{% url 'remove-file' package.id %}";
    };
    document.getElementById("add_button").onclick = function () {
        window.location.href = "{% url 'new-file' package.id %}";
    };
    document.getElementById("return_button").onclick = function () {
        window.location.href = '{% url "package-editor-page" package.id %}';
    };
</script>
{% endblock list__buttons %}

{% block editor__title %}
{{file.name}}
{% endblock editor__title %}

{% block editor__buttons_left %}
<button type="submit" onclick="submitForm()">
    <span class=" material-symbols-outlined save">
        save
    </span>
</button>
<button onclick="increase_the_size()">
    <span class="material-symbols-outlined zoom">
        zoom_in
    </span>
</button>
<button onclick="reduce_the_size()">
    <span class="material-symbols-outlined zoom">
        zoom_out
    </span>
</button>
Chars: <span id="characterCount">0</span>
{% endblock editor__buttons_left %}

{% block editor__buttons_right %}

<a href="#"><span class="material-symbols-outlined delete">
        delete_forever
    </span></a>
{% endblock editor__buttons_right %}

{% block editor__content %}

<form id="myForm" class="editor__text" action="{% url 'file-editor-page' file.id %}" method="POST">
    {% csrf_token %}
    {{ form.content }}
</form>

<script>
    const socket = new WebSocket(`ws://${window.location.host}/ws/file/{{ file.id }}/`);

    socket.onopen = (event) => {
        console.log('WebSocket connection opened:', event);
    };

    socket.onmessage = (event) => {
        console.log("123")
        const data = JSON.parse(event.data);
        document.getElementById('myTextarea').value = data.message;
    };

    const textarea = document.getElementById('myTextarea');

    textarea.addEventListener('input', () => {
        const message = textarea.value;
        socket.send(JSON.stringify({ message }));
    });



    function submitForm() {
        // Получаем форму по её id
        var form = document.getElementById("myForm");
        form.submit();
    }
    function autoResize(event) {

        const textarea = event.target;
        const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
        const scrollLeft = window.pageXOffset || document.documentElement.scrollLeft;

        textarea.style.height = "auto";
        textarea.style.height = textarea.scrollHeight + "px";

        window.scrollTo(scrollLeft, scrollTop);
        event.preventDefault();
    }
    window.onload = function () {
        const textarea = document.getElementById('myTextarea');
        autoResize({ target: textarea });
    };
    document.addEventListener('DOMContentLoaded', function () {
        var textarea = document.getElementById('myTextarea');

        textarea.addEventListener('input', function (event) {
            autoResize(event);
        });
    });
</script>
{% endblock editor__content %}

{% block additional-block__title %}
Чат
{% endblock additional-block__title %}

{% block additional-block__content %}
<div style="font-style: italic;" class="error-message">В разработке</div>
{% endblock additional-block__content %}