{% extends "base-main.html" %}
{% load static %}

{% block additional_logo_text %}
<div class="logo-path">
    /
</div>
{% endblock additional_logo_text %}

{% block list__title %}
Packages
{% endblock list__title %}

{% block list__content %}
{% for package in packages %}
<li>
    <a href="{% url 'package-editor-page' package.id %}" class="list__content-item">
        {{ package.name }}
    </a>
</li>
{% endfor %}
{% endblock list__content %}

{% block editor__title %}
PigeonPackage
{% endblock editor__title %}

{% block editor__content %}
{% endblock editor__content %}

{% block additional-block__title %}
Полезные ссылки
{% endblock additional-block__title %}

{% block additional-block__content %}
{% endblock additional-block__content %}