{% extends "base-main.html" %}
{% load static %}

{% block additional_logo_text %}
<div class="logo-path">
    /
</div>
{% endblock additional_logo_text %}

{% block list__title %}
Packages
{% endblock list__title %}

{% block list__content %}
{% if packages %}
{% for package in packages %}
<li>
    <a href="{% url 'package-editor-page' package.id %}" class="list__content-item">
        {{ package.name }}
    </a>
</li>
{% endfor %}
{% else %}
<div class="list__content-error">
    На данный момент packages нет =(
</div>
{% endif %}
{% endblock list__content %}

{% block list__buttons %}

<button id="add_button"><span class="material-symbols-outlined add">
        add
    </span></button>
<button id="remove_button">
    <span class="material-symbols-outlined minimize">
        remove
    </span>
</button>

<script>
    document.getElementById("add_button").onclick = function () {
        window.location.href = "{% url 'new-package' %}";
    };
    document.getElementById("remove_button").onclick = function () {
        window.location.href = "{% url 'remove-package' %}";
    };
</script>

{% endblock list__buttons %}

{% block editor__title %}
PigeonPackage
{% endblock editor__title %}



{% block editor__buttons_left %}
<a href="settings">
    <span class="material-symbols-outlined zoom">
        settings
    </span>
</a>
{% endblock editor__buttons_left %}

{% block editor__content %}
{% endblock editor__content %}

{% block additional-block__title %}
Полезные ссылки
{% endblock additional-block__title %}