{% extends "main.html" %}
{% load static %}

{% block basemainheadblock %}
<link type="text/css" href="{% static 'pigeon_package_main_app/css/main-content-base.css' %}" rel="stylesheet">
{% endblock basemainheadblock %}

{% block list__buttons %}
{% block addbutton %}
<button id="add_button">
    <span class="material-symbols-outlined add">
        add
    </span>
</button>
{% endblock addbutton %}
{% block removebutton %}
<button id="remove_button">
    <span class="material-symbols-outlined minimize">
        remove
    </span>
</button>
{% endblock removebutton %}

<script>
    document.getElementById("remove_button").onclick = function () {
        window.location.href = "{% url 'remove-package' %}";
    };
    document.getElementById("add_button").onclick = function () {
        window.location.href = "{% url 'new-package' %}";
    };
    document.getElementById("return_button").onclick = function () {
        window.location.href = "{% url 'main' %}";
    };
</script>
{% endblock list__buttons %}

{% block editor__content %}
{% endblock editor__content %}