{% extends "main-content-base.html" %}
{% load static %}

{% block additional_logo_text %}
<div class="logo-path">
    /NewPackage
</div>
{% endblock additional_logo_text %}

{% block addbutton %}
<button class="active_button" id="add_button">
    <span class="material-symbols-outlined add">
        add
    </span>
</button>
{% endblock addbutton %}

{% block editor__title %}
PigeonPackage/NewPackage
{% endblock editor__title %}

{% block editor__content %}
<div class="editor-content-base-content">
    <div class="editor-content-base-content__title">New<span class="package">Package</span></div>
    <form method="POST" class="editor-content-base-content__form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="editor-content-base-content__form-button">NewPackage</button>
    </form>
</div>
{% endblock editor__content %}