{% extends "base-main.html" %}
{% load static %}

{% block additional_logo_text %}
<div class="logo-path">
    /<a class="logo-path" href="{% url 'package-editor-page' package.id %}">{{package.name}}</a>
</div>
{% endblock additional_logo_text %}

{% block list__title %}
Files
{% endblock list__title %}

{% block list__content %}
{% if files %}
{% for file in files %}
<li>
    <a href="{% url 'file-editor-page' file.id %}" class="list__content-item">
        {{ file.name }}
    </a>
</li>
{% endfor %}
{% else %}
<div class="list__content-error">
    На данный момент файлов нет =(
</div>
{% endif %}
{% endblock list__content %}

{% block list__buttons %}
<button id="return_button">
    <span class="material-symbols-outlined arrow_back">
        keyboard_return
    </span>
</button>
{% block add_button %}
<button id="add_button"><span class="material-symbols-outlined add">
        add
    </span></button>
{% endblock add_button %}
{% block remove_button %}
<button id="remove_button">
    <span class="material-symbols-outlined minimize">
        remove
    </span>
</button>
{% endblock remove_button %}
<script>
    document.getElementById("remove_button").onclick = function () {
        window.location.href = "{% url 'remove-file' package.id %}";
    };
    document.getElementById("add_button").onclick = function () {
        window.location.href = "{% url 'new-file' package.id %}";
    };
    document.getElementById("return_button").onclick = function () {
        window.location.href = "{% url 'main' %}";
    };
</script>
{% endblock list__buttons %}

{% block editor__title %}
{{package.name}}
{% endblock editor__title %}

{% block editor__buttons_left %}
{% block settings_button %}
<button id="settings">
    <span class="material-symbols-outlined zoom">
        settings
    </span>
</button>
{% endblock settings_button %}

{% block forward_to_inbox_button %}
<button id="forward_to_inbox">
    <span class="material-symbols-outlined button">
        forward_to_inbox
    </span>
</button>
{% endblock forward_to_inbox_button %}

{% block link_button %}
<button id="link">
    <span class="material-symbols-outlined button">
        link
    </span>
</button>
{% endblock link_button %}

<script>
    document.getElementById("settings").onclick = function () {
        window.location.href = "{% url 'package-settings' package.id %}";
    }
    document.getElementById("forward_to_inbox").onclick = function () {
        window.location.href = "{% url 'new-invitation' package.id %}";
    };
</script>
{% endblock editor__buttons_left %}

{% block editor__buttons_right %}
<a href="#"><span class="material-symbols-outlined delete">
        delete_forever
    </span></a>
{% endblock editor__buttons_right %}

{% block editor__content %}
{% endblock editor__content %}

{% block additional-block__title %}
Чат
{% endblock additional-block__title %}

{% block additional-block__content %}
<div style="font-style: italic;" class="error-message">В разработке</div>
{% endblock additional-block__content %}