{% extends "package-editor-content-base.html" %}
{% load static %}

{% block forward_to_inbox_button %}
<button class="active_button" id="forward_to_inbox">
    <span class="material-symbols-outlined button">
        forward_to_inbox
    </span>
</button>
{% endblock forward_to_inbox_button %}

{% block editor__content %}
<div class="editor-content-package-editor-content">
    <div class="editor-content-package-editor-content__title">New <span class="package">Invitation</span></div>
    <form method="POST" class="editor-content-package-editor-content__form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="editor-content-package-editor-content__form-button">Sent</button>
    </form>
</div>
{% endblock editor__content %}