{% extends "base-main.html" %}
{% load static %}

{% block additional_logo_text %}
<div class="logo-path">
    /<a class="logo-path" href="{% url 'package-editor-page' package.id %}">{{package.name}}</a>
</div>
{% endblock additional_logo_text %}

{% block list__title %}
Files
{% endblock list__title %}

{% block list__content %}
{% for file in files %}
<li>
    <a href="{% url 'file-editor-page' file.id %}" class="list__content-item">
        {{ file.name }}
    </a>
</li>
{% endfor %}
{% endblock list__content %}

{% block list__buttons %}
<a href="{% url 'main' %}">
    <span class="material-symbols-outlined arrow_back">
        keyboard_return
    </span>
</a>
<a href="#"><span class="material-symbols-outlined add">
        add
    </span></a>
<a href="#">
    <span class="material-symbols-outlined minimize">
        remove
    </span>
</a>

{% endblock list__buttons %}

{% block editor__title %}
{{package.name}}
{% endblock editor__title %}

{% block editor__buttons_left %}
<a href="settins">
    <span class="material-symbols-outlined zoom">
        settings
    </span>
</a>
{% endblock editor__buttons_left %}

{% block editor__buttons_right %}
<a href="#"><span class="material-symbols-outlined delete">
        delete_forever
    </span></a>
{% endblock editor__buttons_right %}

{% block editor__content %}
{% endblock editor__content %}

{% block additional-block__title %}
Чат
{% endblock additional-block__title %}

{% block additional-block__content %}
<div style="font-style: italic;" class="error-message">В разработке</div>
{% endblock additional-block__content %}