{% extends "main.html" %}
{% load static %}

{% block basemainheadblock %}
<link type="text/css" href="{% static 'pigeon_package_main_app/css/new-package.css' %}" rel="stylesheet">
{% endblock basemainheadblock %}

{% block additional_logo_text %}
<div class="logo-path">
    /RemovePackage
</div>
{% endblock additional_logo_text %}

{% block editor__title %}
PigeonPackage/RemovePackage
{% endblock editor__title %}

{% block list__buttons %}
<button id="return_button">
    <span class="material-symbols-outlined arrow_back">
        keyboard_return
    </span>
</button>
<button id="add_button">
    <span class="material-symbols-outlined add">
        add
    </span>
</button>
<button id="remove_button">
    <span class="material-symbols-outlined minimize">
        remove
    </span>
</button>

<script>
    document.getElementById("remove_button").onclick = function () {
        window.location.href = "{% url 'remove-package' %}";
    };
    document.getElementById("add_button").onclick = function () {
        window.location.href = "{% url 'new-package' %}";
    };
    document.getElementById("return_button").onclick = function () {
        window.location.href = "{% url 'main' %}";
    };
</script>
{% endblock list__buttons %}

{% block editor__content %}
<div class="new-package-block">
    <div class="new-package-block__title">Remove<span class="remove-package">Package</span></div>
    <form method="POST" class="new-package-block__form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="new-package-block__form-button">RemovePackage</button>
    </form>
</div>
{% endblock editor__content %}