.wrapper{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Cascadia Code', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    width: 100%;
}

.content{
    flex: 1;
    padding: 0px 30px;
    font-size: 20px;
}

.header{
    flex-shrink: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(246, 248, 250);
    padding: 5px 30px;
    border-bottom: 1px solid #dedede;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
    flex-shrink: 0;
    width: 100%;
    height: 70px;
    padding: 20px;
    background-color: rgb(246, 248, 250);
    padding: 30px;
    margin-top: auto;
    border-top: 1px solid #dedede;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.logo__text{
    display: flex;
    font-size: 25px;
}

.pigeon{
    color: rgb(89, 130, 184);
}

.package{
    color: rgb(151, 202, 0);
}

.user-auth-profile{
    display: flex;
    align-items: center;
}

.user-auth-profile__button{
    font-size: 15px;
    margin-left: 20px;
    color: rgb(0, 0, 0);
}

.footer__text{
    color: rgb(132, 132, 132);
    margin-top: 2px;
}

.user-auth-profile__img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 20px;
}