{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1920">
    <link type="text/css" href="{% static 'css/null.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/base.css' %}" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0" />
    {% block headblock %}
    {% endblock headblock %}
    <title>Document</title>
</head>

<body>

    <div class="wrapper">
        <div class="header">
            <div class="logo">
                <div class="logo__text"><a href="{% url 'main' %}" class="pigeon">Pigeon</a><a href="{% url 'main' %}"
                        class="package">Package</a>{% block additional_logo_text %}{% endblock additional_logo_text %}
                </div>
            </div>
            {% if user.is_authenticated %}
            <div class="user-auth-profile">
                <a href="{% url 'profile' %}" class="user-username user-auth-profile__button">
                    {{ user.username }}
                </a>
                <a href="{% url 'invitations' %}"><span class="material-symbols-outlined user-auth-profile__button">
                        mail
                    </span></a>
                <img class="user-registration user-auth-profile__img" src="{{ MEDIA_URL }}{{user.profile_picture }}"
                    alt="User Photo">
                <a href="{% url 'deauthentication' %}" class="user-registration user-auth-profile__button">Выйти</a>

            </div>
            {% else %}
            <div class="user-auth-profile">
                <a href="{% url 'registration' %}" class="user-registration user-auth-profile__button">
                    Регистрация
                </a>
                <a href="{% url 'authentication' %}" class="user-authentication user-auth-profile__button">
                    Авторизация
                </a>
            </div>
            {% endif %}
        </div>
        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>
        <div class="footer">
            <div class="footer__text">PigeonPackage</div>
            <a class="footer__text" href="https://github.com/dmitrychupakhin" target="_blank">Creator</a>
            <div class="footer__text">2023</div>
        </div>
    </div>
</body>

</html>