{% extends "base.html" %}
{% load static %}

{% block headblock %}
<link type="text/css" href="{% static 'pigeon_package_account_app/css/profile.css' %}" rel="stylesheet">
{% endblock headblock %}

{% block content %}
<div class="profile-panel">
    <div class="user-info">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            {% if user.profile_picture %}
            <img class="user-info__profile-img" src="{{ user.profile_picture.url }}" alt="Current Profile Picture">
            {% endif %}
            <button type="submit">Сохранить изменения</button>
        </form>
    </div>
</div>
{% endblock content %}