{% extends "base.html" %}
{% load static %}

{% block headblock %}
<link type="text/css" href="{% static 'pigeon_package_account_app/css/registration.css' %}" rel="stylesheet">
{% endblock headblock %}

{% block content %}
<div class="registration-panel">
    <form method="post" enctype="multipart/form-data" class="my-form">
        {% csrf_token %}
        {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <button type="submit">New Pigeon</button>
    </form>
</div>
{% endblock content %}